html {
    font-size: 15px;

}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}


/* Page========================== */

.page {
    width: 100%;
    height: 100vh;


    position: relative;
    background: #000 url("../img/bg.jpg") center no-repeat;
    background-size: cover;
}


/* Header========================== */

.header {
    padding: 1rem 0;
    margin-bottom: 110px;
    background: #2B7DED;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.header-logo img {
    display: block;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;

    transition: color 0.2s linear;
}

.header-nav-link:hover {
    color: #000000;
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: -5px;
}


/* Content========================== */

.content {
    height: 100%;
    width: 100%;
}

.content-header {
    margin-bottom: 35px;
}

.table {
    display: flex;
    justify-content: space-between;
}

.info h5 {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}


.subtitle {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}

.title {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
}

.title span {
    color: #2B7DED;
}

.text {
    margin-bottom: 0;

    font-size: 1rem;
    color: #fff;
}


/* Author========================== */

.author {
    position: absolute;
    right: 200px;
    bottom: 0;
}


/* Footer========================== */

.footer {
    width: 100%;
    position: absolute;
    bottom: 45px;
    left: 0;
}


/* Footer========================== */

.contacts {
    display: flex;
    align-items: center;

}


.contacts-link {
    margin-right: 2rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.contacts-link:last-child {
    margin-right: 0;
    position: relative;
}

.contacts-link:last-child:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    margin-left: 1rem;

    background-color: #fff;
    pointer-events: none;

    position: absolute;
    left: 100%;
    top: 11px;
}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-icon {
    margin-right: 5px;
}


/* Media========================== */

@media (max-width: 1000px) {

    .author {
        display: none;
    }

}


@media (max-width: 767px) {

    .header-logo {
        display: none;
    }

    .header-brand {
        font-size: 1.2rem;
    }

}


@media (max-width: 565px) {

    .contacts-link:last-child:after {
        display: none;
    }

    .header-inner {
        flex-direction: column;
    }

    .header-brand {
        margin-bottom: 1rem;
    }

    .contacts {
        flex-direction: column;
    }

    .contacts-link {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .contacts-link:last-child {

        margin-bottom: 0;
    }

}














